
data/.DS_Store
output/performance.csv
output/prediction.csv
output/temp.arff
.DS_Store
src_java/L2A/output/performance.csv
src_java/L2A/pom.xml
src_java/L2A/pom.xml
src/__pycache__/utils_word_embeddings.cpython-38.pyc
src/.idea/inspectionProfiles/profiles_settings.xml
src/.idea/misc.xml
src/.idea/modules.xml
src/.idea/other.xml
src/.idea/src.iml
src/.idea/vcs.xml
data/temp.arff
src_java/L2A/pom.xml
src_java/L2A/target/classes/L2A_classification.class
src_java/L2A/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
*.lst
